.aboutSection {
  padding: 4rem 1rem 2rem;
  overflow: hidden;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin: 0 auto; /* Center the element */
  text-align: left;
  align-items: flex-start;
  margin-bottom: 3rem;
}

.heading p {
  color: var(--dark-muted-gray);
}

.mainAbout {
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
}

.buttons {
  display: flex;
  /* flex-direction: column; */
  flex-direction: row;
  flex-wrap: wrap;
}

.buttons button {
  text-decoration: none;
  color: var(--greenish-black);
  font-size: 1rem;
  padding: 1.5rem 2rem;
  width: fit-content;
  /* border: 1px solid var(--greenish-black); */
  border: 1px solid var(--light-taupe);
  margin-left: -1px; /* Prevent double border between links */
  margin-top: -1px; /* Prevent double border between top border */
  transition:
    border 0.3s ease,
    color 0.3s ease,
    background-color 0.3s ease; /* Add transition */
  color: var(--light-taupe);
  background-color: var(--olive-grey); /* Change background color on hover */
}

.buttons button:hover {
  background-color: var(--greenish-black); /* Change background color on hover */
}

.aboutElement {
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 1rem;
  margin-bottom: 2rem;
  width: 100%;
}

.title {
  display: flex;
  flex-direction: column;
}

.subtitle {
  /* font-size: 2.2rem; */
  line-height: 1.8rem;
}

.subtitle1 {
  padding-left: 1rem;
}

.subtitle2 {
  padding-left: 1rem;
}

.subtitle3 {
  padding-left: 3rem;
}

.subtitle4 {
  padding-left: 4rem;
}

.description {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--dark-muted-gray);
}

.imageContainer {
  position: relative;
  width: 100%;
  margin-top: 2rem;
}


.imageContainer.left {
  margin-left: auto; /* Push the image container to the right */
  margin-right: -2rem;
}

.imageContainer.right {
  margin-left: -2rem;
}

/* .image {
    height: 400px;
    width: 100%;
  } */

.image {
  width: 100%;
  height: 400px;
  display: block;
  object-fit: cover;
   object-position: center;
}

/* Medium devices such as tablets (768px and up) */
@media (min-width: 768px) {
  .aboutSection {
    padding: 8rem 2rem 2rem;
  }

  .aboutElement {
    margin-bottom: 10rem;
  }

  .subtitle {
    /* font-size: 2.6rem; */
    line-height: 2.2rem;
  }

  .buttons {
    flex-direction: row;
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
  .heading {
    gap: 3rem;
    align-items: center;
    text-align: center;
  }

  .heading p {
    max-width: 1000px;
    text-align: center;
  }

  .textContainer {
    flex-direction: row;
    /* justify-content: space-between; */
    /* align-content: space-between; */
    align-items: center;
    max-width: 1200px;
    margin: 0 auto 3rem auto;
  }

  .textContainer.left {
    flex-direction: row;
  }

  .textContainer.right {
    flex-direction: row-reverse;
  }

  .description {
    flex: 1;
    margin-left: 2rem;
  }

  .imageContainer {
    width: 80%;
  }

  .subtitle {
    font-size: 3.5rem;
    line-height: 3rem;
  }

  /* .buttons {
    flex-direction: column;
  } */
  .buttons {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 2rem;
    flex: 1;
  }

  .image {
    height: 500px;
    width: 100%;
  }
}

@media only screen and (min-width: 1440px) {
  .buttons {
    flex-direction: row;
    margin-left: 2rem;
    flex: 1;
  }
}
