.headerWrapper {
  position: relative;
}

/* Base Layout */
.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  border-top: 1px solid var(--greenish-black);
  position: relative; /* Required for z-index to work */
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem;
  border: 1px solid var(--greenish-black);
  margin-top: -1px;
  transition: border var(--transition);
}

.logoImage {
  height: 38px;
  width: auto;
}

/* Navigation */
.navLinks {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  background: rgba(0, 0, 0, 0.6); /* Adjust opacity */
  z-index: 8; /* Just below .sideMenu (z-index: 4) */
  transition: opacity 0.3s ease-in-out;
}

/* Desktop View */
@media (min-width: 768px) {
  .navLinks {
    display: flex;
  }

  .overlay {
    display: none;
  }
    .logoImage {
    height: 47px;
    width: auto;
  }

}

@media (min-width: 1440px) {
  .logoImage {
    height: 47px;
    width: auto;
  }
}
