.category {
  display: inline-flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 3rem;
  width: 100%;
}

.category:hover {
  transform: translateY(-10px);
}

.imageContainer {
  width: 100%;
  height: 400px; /* Adjust height based on image aspect ratio */
  overflow: hidden;
  object-fit: cover;
}

.image {
  /* border-radius: 8px; */
  width: 100%;
  height: 100%; /* Adjust height based on image aspect ratio */
  object-fit: cover; /* Ensures the image covers the container fully */
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  padding-top: 1rem;
  text-align: center;
}

.details h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.details p {
  font-size: 1rem;
  margin-bottom: 20px;
  color: var(--dark-muted-gray);
}

.learnMore {
  text-decoration: none;
  color: var(--greenish-black);
  font-size: 1rem;
  padding: 1.5rem 2rem;
  width: fit-content;
  border: 1px solid var(--greenish-black);
  transition:
    color 0.3s ease,
    background-color 0.3s ease;
}

.learnMore:hover {
  color: var(--light-taupe);
  background-color: var(
    --greenish-black
  ); /* Change background color on hover */
}

@media (min-width: 768px) {
  .category {
    flex-basis: 100%;
    max-width: 100%;
  }

  .details {
    padding: 20px;
    text-align: center;
  }

  /* Override image heights for specific categories */
  .category:nth-child(1) .imageContainer {
    height: 400px; /* Residential - taller image */
    width: 100%;
  }

  .category:nth-child(2) .imageContainer {
    height: 650px; /* Retail - smaller image */
  }

  .category:nth-child(3) .imageContainer {
    height: 550px; /* Hospitality - taller image */
  }

  .category:nth-child(4) .imageContainer {
    height: 650px; /* Cultural - default size */
  }
}
