
.grid {
  column-count: 1;
  /* grid-template-columns: repeat(2, 1fr); */
  gap: 2rem;
  padding: 2rem 0;

}

.card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;

}

.card > :not(:last-child) {
  margin: 0 2rem;

}

.card h2 {
  font-size: 1.8rem;
  line-height: 1.6rem;
  text-transform: initial ;
}


.image {
  width: 100%;
  height: auto; /* allows natural height */
  object-fit: cover;
  margin-top: 1rem;
}

/* Responsive grid on desktop */
@media (min-width: 768px) {
  .grid {
    column-count: 2;
  }
}
