.client {
  padding: 5rem 0;
}

.client h2 {
  text-align: left;
  margin-bottom: 5rem;
}

.clientLogos {
  display: inline-flex;
  flex-wrap: wrap;
}

.clientLogoContainer {
  margin: 0;
  /* height: 60px; */
  margin-top: -1px;
  margin-right: -1px;
}

.clientLogo {
  position: relative;
  /* width: auto; */
  /* height: 60px; */
    /* width: 100px; */
  padding: 1rem;
  border: 1px solid var(--soft-lilac);
  opacity: 0.3;  
  /* fill: var(--soft-lilac); */

  height: 60px;       /* 👈 fixed height */
  width: auto;        /* let width flow */
  display: flex;      /* helps center SVG */
  align-items: center;
  justify-content: center;

}

.clientLogo {
  color: var(--soft-lilac); /* brand color or use CSS variables for themes */
  /* width: 100px; */
  /* height: auto; */
}

.clientLogo svg {

  height: 100%;       /* fill the container height */
  width: auto;        /* scale width proportionally */
  display: block;
     height: 60px; 
}

.clientLogo svg path {
  fill: currentColor;
  height: auto !important;
  width: auto !important;
     height: 60px; 
}


@media (min-width: 768px) {

  .clientLogoContainer {
    height: 100px;
  }

  .clientLogo {
    width: auto;
    height: 100px;
    padding: 1.7rem;
  }
}