.client {
  padding: 5rem 0;
}

.client h2 {
  text-align: left;
  margin-bottom: 5rem;
}

.clientLogos {
  display: inline-flex;
  flex-wrap: wrap;
}

.clientLogo {
  width: auto;
  height: 100px;
  padding: 2rem;
  border: 1px solid var(--soft-peach);
  opacity: 0.3;  
  fill: var(--soft-peach); /* This will change the fill color of the SVG */
  margin-top: -1px;
  margin-right: -1px;
}
