.lightboxOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(55, 59, 47, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.lightboxImage {
  max-width: auto;
  max-height: auto;
  object-fit: contain;
  transition: all 0.3s ease;
}

.navButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: white;
  font-size: 3rem;
  cursor: pointer;
  z-index: 10001;
  padding: 1rem;
}

.prevButton {
  left: 2rem;
}

.nextButton {
  right: 2rem;
}

.closeButton {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  background: none;
  border: none;
  color: var(--light-taupe);
  cursor: pointer;
}

.lightboxCaption {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  color: var(--light-taupe);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  z-index: 10001;
  text-align: center;
}

.lightboxCaption p {
  color: white;
}

.captionText {
  margin-top: 0.5rem;
  font-size: 1rem;
}