
/* Mobile Menu */
.mobileMenu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 80%;
  height: 100vh;
  background-color: var(--light-taupe);
  padding: 6rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0;
  transition: right var(--transition);
  z-index: 9;
}

.mobileMenu.open {
  right: 0;
}