

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image {
  object-fit: cover;
  z-index: 1;
}

.overlay {
  /* position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--rich-purple); */
  position: absolute;
  inset: 0;
  /* background-color: var(--rich-purple); */
  z-index: 2;
  pointer-events: none;
}

/* Mobile first: gradient fades top → bottom */
.gradientOverlay {
  background-image: linear-gradient(
    to top,
    rgba(55, 59, 47, 1) 30%,
      rgba(55, 59, 47, 0.7) 60%,
      rgba(55, 59, 47, 0.3) 90%,
      rgba(55, 59, 47, 0) 100%
  );
}

/* Larger screens: override to left → right */
@media (min-width: 768px) {
  .gradientOverlay {
    background-image: linear-gradient(
      to right,
      rgba(55, 59, 47, 1) 20%,
      rgba(55, 59, 47, 0.7) 50%,
      rgba(55, 59, 47, 0.3) 80%,
      rgba(55, 59, 47, 0) 100%
    );
  }
}
