.section {
  transition: background-color 0.5s ease;
  /* background-color: var(--soft-lilac); */
  color: var(--soft-lilac);
}

.darkBackground {
  color: var(--soft-lilac);
  background-color: var(--rich-purple);
}

.services {
  padding: 8rem 2rem;
  max-width: 1000px;
  margin: 0 auto;
}


.heading {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin: 0 auto; /* Center the element */
  text-align: left;
  align-items: center;
  margin-bottom: 3rem;
}

.heading p {
  /* color: var(--dark-muted-gray); */
  color: var(--soft-lilac);;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item {
  /* border-bottom: 1px solid var(--rich-black); */
  border-bottom: 1px solid var(--soft-lilac);
  padding-bottom: 1rem;
  /* transition: border-bottom 0.5s ease; */
}

.lightBorder {
  border-bottom: 1px solid var(--soft-lilac);
}


.toggleBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.75rem;
  cursor: pointer;
  margin: 0;
}

.toggle {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
  user-select: none;
}

.content {
  max-height: 0;
  /* overflow: hidden; */
  transition:
    max-height 0.4s ease,
    opacity 0.4s ease,
    padding-top 0.4s ease;
  opacity: 0;
  padding-top: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.content p {
  /* color: var(--dark-muted-gray); */
  color: var(--soft-lilac);;
  margin-right: 2rem;
}

.open {
  max-height: 500px;
  opacity: 1;
  padding-top: 0.75rem;
}

.closed {
  max-height: 0;
  opacity: 0;
  padding-top: 0;
}

.image {
  width: auto;
  height: 200px;
  object-fit: contain;
}

/* ---------------------------------------
  Expand Icon Animation
---------------------------------------- */
.iconSurvey {
  margin-left: auto;
}

.iconSurvey.active {
  background: transparent;
}
.iconSurvey:hover {
  cursor: pointer;
}
.iconShape {
  position: relative;
  width: 50px;
  height: 50px;
}
.iconSurvey .iconShape::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 1px;
  /* background: var(--rich-black); */
  background-color: var(--soft-lilac);
  border-radius: 3px;
  transition: all 0.5s ease;
}
.iconSurvey .iconShape::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 15px;
  /* background: var(--rich-black); */
  background-color: var(--soft-lilac);
  border-radius: 3px;
  transition: all 0.5s ease;
}
.iconSurvey .iconShape.active::before {
  transform: translate(-50%, -50%) rotate(180deg);
  transition: all 0.5s ease;
}
.iconSurvey .iconShape.active::after {
  transform: translate(-50%, -50%) rotate(90deg);
  transition: all 0.5s ease;
}

@media (min-width: 576px) {
  .heading {
    flex-direction: row;
    gap: 3rem;
    margin-bottom: 4rem;
  }

  .open {
    max-height: 400px;
  }

  .content {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }

  .image {
    flex: 0 0 auto;
    width: 300px;
    /* height: 100%; */
    /* height: auto; */
  }

  .content p {
    margin-right: 6rem;
  }

  .iconSurvey .iconShape::before {
    width: 20px;
  }
  .iconSurvey .iconShape::after {
    height: 20px;
  }
}

@media (min-width: 1024px) {
  .image {
    flex: 0 0 auto;
    width: 500px;
    height: 200px;
  }


  .toggleBtn {
    padding: 0.5rem 0;
  }

  .toggleBtn h4 {
    font-size: 1.25rem;
  }
}


.serviceIcon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background: var(--dark-muted-gray);
  position: relative;
  flex-shrink: 0;
}

.icon {
  width: 38px;
  height: 38px;
  background: var(--dark-muted-gray);
  opacity: 0.3;
  /* animation: rotateIcon 10s linear infinite; */
}

.toggleBtn:hover .icon{
  transform-origin: center center;
  animation: rotateIcon 10s linear infinite;
}

@keyframes rotateIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}