.scrollButton {
  position: fixed;
  right: 0;
  padding: 0.5rem 0;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition:
    opacity 0.3s ease,
    bottom 0.3s ease,
    background-color 0.6s ease 0.1s,
    color 0.6s ease 0.1s;
  z-index: 1000;
}

.visible {
  opacity: 1;
}

.light {
  background-color: var(--olive-grey);
  color: var(--light-taupe);
}

.dark {
  background-color: var(--light-taupe);
  color: var(--olive-grey);
}

.icon {
  font-size: 1rem;
  display: block;
  width: 1.8rem;
  height: 2rem;
  position: relative;
}

.icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.5rem;
  height: 1.5rem;
}

.label {
  display: none;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .scrollButton {
    padding: 0.5rem 0.5rem;
  }

  .label {
    display: block;
  }
}
