.contact {
  margin: 3rem 0;
}

.contact h3 {
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 0.5rem;
  color: #424242;
  font-weight: 400;
}

.contact h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}

/* Tablet and up */
@media (min-width: 768px) {
  .contact {
    margin: 5rem 0;
  }

  .contact h3 {
    font-size: 2rem;
    margin-bottom: 0;
  }

  .contact h2 {
    font-size: 3.5rem;
    margin-bottom: 5rem;
  }
}
